*{
    margin: 0;
    padding: 0;
    font-family: "open sans", sans-serif;
}


.text-primary{
    color: #FD6E0A;
    font-style: italic;
}

.btn-primary{
    color: azure;
    font-weight: 700;
    font-size: 20px;
    border: 0;
    padding: 10px;
    height: 44px;
    border-radius: 10px;
    background-color:#FD6E0A ;
}

.call-me{
    color: blue;
    font-weight: 700;
    font-size: 20px;
    border: 5px;
    padding: 10px;
    height: 44px;
    border-radius: 10px;
    margin-left: 5px;
}

.header{
    background: white;
    background-image: url('../images/header_bg.png'), url('../images/developer.png');
    background-repeat: no-repeat;
    background-position: bottom right, left;
}

/* Header and navbar style */

nav{
    display: flex;
    justify-content: space-between;
    margin:50px 200px ;
}

.nav-title{
    font-weight: 800;
font-size: 45px;
line-height: 61px;
}

nav ul{
    display: flex;
    align-items: center;
}
nav li{
    list-style: none;
    margin-left: 50px;
}


.banner{
    display: flex;
    align-items: center;
    margin: 0 200px;
}


.banner-title{
    font-weight: 700;
    font-size: 85px;

}

.bannerr-sub{
    font-weight: 600;
    font-size: 45px;
    margin-bottom: 20px;
}


.banner-discription{
    color: green;
    margin-right: 10px;
    margin-bottom: 30px;
    font-size: 18px;
}


main{
    max-width: 1140px;
    margin: 0 auto;
}

.about{
    margin-top: 130px;
    background-color: #FFF1E7;
    border-radius: 10px;
    padding: 130px 150px;
    text-align: center;
    

}


.section-title{
    font-weight: 700;
    font-size: 35px;
    margin-bottom: 30px;

}


.section-discription{
    color:  #e78640;
    font-size: 18px;
    margin-bottom: 30px;

}
.about-info{
    display: flex;
    justify-content: space-around;
   }


.info-title{
    font-size: 20px;
    color: #757575;
}

.info-detail{
    font-weight: 700;
    font-size: 20px;
    color: #474747;
}



.what-i-do{
    margin-top: 40px;
    margin-bottom: 100px;
    padding-top: 50px;
    padding-bottom: 150px;
    text-align: center;
    background-color: #FFFFFF;
    box-shadow: 0px 6px 50px rgba(170, 34, 34, 0.06);
border-radius: 5px;
}

.what-i-do-detail{
font-weight: 400;
font-size: 18px;
text-align: center;
color: #757575;

}


.skill-container{
    display: flex;
    gap: 24px;
}

.skil{
width: 267px;
height: 377px;
background: #FFFFFF;
box-shadow: 0px 6px 50px rgba(235, 4, 4, 0.144);
border-radius: 5px;
padding: 30px;
}
.skil-head{
    font-weight: 700;
    font-size: 20px;
}

.skil-detail{
    color:#757575;
    font-weight: 700;
    font-size: 20px;
}


.resume{
    margin-top: 130px;

}


.resume-title{
    text-align: center;
    margin-bottom: 50px;
    gap:5px;
}

.bio-detail{
    display: flex;
    justify-content: space-around;
    margin-bottom: 50px;
}

.education-left{
    border-bottom: 2px solid gray;
    margin-right: 10px;
}
.education{
    border-bottom: 2px solid gray;
    margin-left: 10px;
}

.button-cv{
    color: azure;
    font-weight: 700;
    font-size: 20px;
    border: 0;
    padding: 10px;
    height: 44px;
    border-radius: 10px;
    background-color:#FD6E0A;
   
}

.download-cv{
    margin-top: 50px;
    text-align: center;
}

.contact{
    display: flex;
    gap: 80px;
    background: #FFF8F3;
    padding: 130px 200px;
    margin-top: 60px;
}

.contact-logo{
    display: flex;
    gap: 20px;
}

